[submodule "lib/yolo"]
	path = lib/yolo
	url = git@github.com:ultralytics/yolov5.git
[submodule "lib/mae"]
	path = lib/mae
	url = git@github.com:facebookresearch/mae.git
[submodule "lib/swinir"]
	path = lib/swinir
	url = git@github.com:JingyunLiang/SwinIR.git
